# Commemting in Python:

In [1]:
#Program to add two numbers
a=1
b=5
print (a+b)

6

# Data types:

In [2]:
# Integer data type:
r=466
print(type(r))

<class 'int'>

In [3]:
# String data type:
name= "My name is Sadaf"
print(name)
print(type(name))

My name is Sadaf
<class 'str'>

In [4]:
# String data type:
City= "I am living in Islamabad"
print(City)
print(type(City))

I am living in Islamabad
<class 'str'>

# Arithematic Operations:

In [5]:
# Addition
print(40+40)
# Substraction
print(40-40)
# Multiplication
print(40*40)
# Division Flaot Integer Value
print(50/6)
# Division Integer Value
print(50//6)
# Modulus
print(29%7)
# Power
print(3**3)

80
0
1600
8.333333333333334
8
1
27

# Assignment Operators:

In [6]:
# Add and Assign
a=40
a+=42
print(a)
# Subtract and Assign
a=40
a-=42
print(a)

82
-2

# Comparison Operator:

In [7]:
# Equal:
print(4==5)
# Greater or Equal:
print(4>=5)
# Lesser and Equal:
print(4<=5)

False
False
True

# Logical Operators:

In [8]:
# And
print("Hello" and "Hello" )
# And
print("Hello" and "Hey")
# And
print(4==5 and 4<=5)

Hello
Hey
False

# Implicit Data Type Conversion:

In [9]:
print(45.723+320)
print(20/5)

365.723
4.0

# Explicit Data Type Conversion:

In [10]:
a="156"
print(type(a))
print(a)
a=int(a)
print(type(a))
print(a)
a=float(a)
print(type(a))
print(a)
a=str(a)
print(type(a))
print(a)

<class 'str'>
156
<class 'int'>
156
<class 'float'>
156.0
<class 'str'>
156.0

# Exercise Print Command:
# Print Your Name and Age
# Print Text on Multiple Lines
# Print Using Variables

In [11]:
name="My name is Ali.\nI am 25 years old."
print(name)
name="My name is Ahmed. \n I am 27 years old."
print(name)

My name is Ali.
I am 25 years old.
My name is Ahmed.
 I am 27 years old.

# Exercise

# Input Command:

In [12]:
name= input("what is your name?")
print("Good Morning", name, "!")

what is your name?Sadaf
Good Morning Sadaf !

In [15]:
num1=int(input("Enter 1st number:"))
num2=int(input("Enter 2nd number:"))
sum=num1+num2
print("Sum is:", sum)

Enter 1st number:45
Enter 2nd number:55
Sum is: 100

In [14]:
name= input("what is your name?")
print("Good Morning", name, "!")

what is your name?Maryam
Good Morning Maryam !

In [17]:
num1=int(num1)
num2=int(num2)
sum=num1+num2
print("sum is", sum)

sum is 110

In [18]:
num1=int(input("Enter 1st number"))
num2=int(input("Enter 2nd number"))
print(num1**2)
print(num2**2)

Enter 1st number5
Enter 2nd number6
25
36