# Commemting in Python:

In [1]:
#Program to add two numbers
a=1
b=5
print (a+b)

6

# Data types:

In [2]:
# Integer data type:
r=466
print(type(r))

<class 'int'>

In [3]:
# String data type:
name= "My name is Sadaf"
print(name)
print(type(name))

My name is Sadaf
<class 'str'>

In [4]:
# String data type:
City= "I am living in Islamabad"
print(City)
print(type(City))

I am living in Islamabad
<class 'str'>

# Arithematic Operations:

In [5]:
# Addition
print(40+40)
# Substraction
print(40-40)
# Multiplication
print(40*40)
# Division Flaot Integer Value
print(50/6)
# Division Integer Value
print(50//6)
# Modulus
print(29%7)
# Power
print(3**3)

80
0
1600
8.333333333333334
8
1
27

# Assignment Operators:

In [6]:
# Add and Assign
a=40
a+=42
print(a)
# Subtract and Assign
a=40
a-=42
print(a)

82
-2

# Comparison Operator:

In [7]:
# Equal:
print(4==5)
# Greater or Equal:
print(4>=5)
# Lesser and Equal:
print(4<=5)

False
False
True

# Logical Operators:

In [8]:
# And
print("Hello" and "Hello" )
# And
print("Hello" and "Hey")
# And
print(4==5 and 4<=5)
# OR
print("Morning" or "Morning")
print("Morning" or "Evening")
print(4==5 or 4>=5)

Hello
Hey
False
Morning
Morning
False

# Implicit Data Type Conversion:

In [9]:
print(45.723+320)
print(20/5)
print(0.25/5)

365.723
4.0
0.05

# Explicit Data Type Conversion:

In [10]:
a="156"
print(type(a))
print(a)
a=int(a)
print(type(a))
print(a)
a=float(a)
print(type(a))
print(a)
a=str(a)
print(type(a))
print(a)
# all exist

b="Sadaf"
print(type(b))
print(b)
b=str(b)
print(type(b))
print(b)
# interger and floating point donot exist.

c=159
print(type(c))
print(c)
c=int(c)
print(type(c))
print(c)
c=float(c)
print(type(c))
print(c)
c=str(c)
print(type(c))
print(c)
# all integer, floating and string exist.

<class 'str'>
156
<class 'int'>
156
<class 'float'>
156.0
<class 'str'>
156.0
<class 'str'>
Sadaf
<class 'str'>
Sadaf
<class 'int'>
159
<class 'int'>
159
<class 'float'>
159.0
<class 'str'>
159.0

# Exercise Print Command:
# Print Your Name and Age
# Print Text on Multiple Lines
# Print Using Variables

In [11]:
name="My name is Ali.\nI am 25 years old."
print(name)
name="My name is Ahmed. \n I am 27 years old."
print(name)

uni="I have studied at QAU.\nI have completed my MPhil from mathematics department."
print(uni)

My name is Ali.
I am 25 years old.
My name is Ahmed.
 I am 27 years old.
I have studied at QAU.
I have completed my MPhil from mathematics department.

# Exercise

# Input Command:

In [12]:
name= input("what is your name?")
print("Good Morning", name, "!")

location=input("where i am living?")
print(location)

num=input("First three even numbers")
print(num)

num1=input("Even" and "Odd")
print(num1)
# AND operator gives us second one.

num2=input("Even" or "Odd")
print(num2)
# OR operator gives us first one.

what is your name?Sadaf
Good Morning Sadaf !
where i am living?Islamabad
Islamabad
First three even numbers0, 2, 4
0, 2, 4
Odd1, 3, 5
1, 3, 5
Even0, 2, 4
0, 2, 4

In [13]:
num1=int(input("Enter 1st number:"))
num2=int(input("Enter 2nd number:"))
sum=num1+num2
print("Sum is:", sum)

Enter 1st number:25
Enter 2nd number:25
Sum is: 50

In [14]:
name= input("what is your name?")
print("Good Morning", name, "!")

what is your name?Sadaf
Good Morning Sadaf !

In [15]:
num1=int(num1)
num2=int(num2)
sum=num1+num2
print("sum is", sum)

sum is 50

In [16]:
num1=int(input("Enter 1st number"))
num2=int(input("Enter 2nd number"))
print(num1**2)
print(num2**2)

Enter 1st number4
Enter 2nd number5
16
25

In [17]:
# 1st way
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
multiple=num1*num2
print("multiple is", multiple)

Enter first number6
Enter second number5
multiple is 30

In [18]:
# 2nd way
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
print(num1*num2)

Enter first number6
Enter second number5
30

In [19]:
a=int(input("Enter 1st number"))
b=int(input("Enter 2nd number"))
print(a%b)
# or
a=int(input("Enter 1st number"))
b=int(input("Enter 2nd number"))
remainder=(a%b)
print("remainder is", remainder)

Enter 1st number35
Enter 2nd number4
3
Enter 1st number25
Enter 2nd number5
remainder is 0

In [20]:
a=float(input("Enter 1st number"))
b=float(input("Enter 2nd number"))
print(a%b)

Enter 1st number42
Enter 2nd number4
2.0

# EXTRA CLASS

In [2]:
name=input("what is your name?\nwhat is your age?")
print(name)

what is your name?
what is your age?25
25

In [3]:
name=input("what is your name?")
age=input("what is your age?")

what is your name?Sadaf Nisar
what is your age?25

# Slicing

In [8]:
a=[1, 2, 3, 4, 5]
sliced=a[1:3]
print(sliced)

b=[5, 6, 7, 8, 9, 10]
sliced=b[1:3]
print(sliced)

c=[]

[2, 3]
[6, 7]

# String Membership

In [10]:
# in and not in
sen="I am sadaf"
print("sadaf" in sen)
print("are" not in sen)

True
True