# Practice on List and then main Topic Set

In [65]:
list_1 =[1, 2, 3, 4]
list_1.append(5)
print(list_1)

[1, 2, 3, 4, 5]

In [66]:
list_2= ["A","B", "C", "D"]
list_2.pop()
print(list_2)

['A', 'B', 'C']

In [67]:
list_2= ["A",3, "C", 4]
list_2.pop(3)
print(list_2)

['A', 3, 'C']

In [68]:
list_3= ["a", "b", "5", "d"]
list_3.insert(3, "c")
print(list_3)

['a', 'b', '5', 'c', 'd']

In [69]:
list_4= [5, 3, 6, 7, 2, 1]
list_4.sort()
print(list_4)

[1, 2, 3, 5, 6, 7]

In [70]:
list_4= [5, 3, 6, 7, 2, 1]
list_4.sort(reverse=True)
print(list_4)

[7, 6, 5, 3, 2, 1]

# Set

A set is an unordered collection of unique and immutable elements. It's an abstract data type inspired by the mathematical concept of a finite set.

# 1. Creating Set

In [71]:
#Empty set
# IMPORTANT: Use set() for an empty set, as {} creates an empty dictionary
my_set = set()
print(my_set)

set()

In [72]:
# Set with Initial elements
num_set={1, 2, 3, 4, 5}
print(num_set)

{1, 2, 3, 4, 5}

In [73]:
# Set from a list (duplicates) are automatically removed)
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_numbers= set(my_list)
print(unique_numbers)

{1, 2, 3, 4, 5}

In [74]:
#Set with mixed immutable data types
mixed_set= {1, "hello", 3.14, True, (1,2)}
print(mixed_set)

{1, (1, 2), 3.14, 'hello'}

# 2. Adding Elements to a Set

In [75]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

my_set.add(2) # Trying to add a duplicate
print(my_set) # no change in set

{1, 2, 3, 4}
{1, 2, 3, 4}

In [76]:
my_set= {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)

my_set.update({5, 6, 7}) #Update with another set (duplicate ignore)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

# Removing Elements from a Set

In [77]:
my_set= {1, 2, 3, 4}
my_set.remove(3)
print(my_set)

{1, 2, 4}

In [78]:
my_set = {1, 2, 3, 4}
my_set.discard(2)
print(my_set)

my_set.discard(99) # no error, simply ignore
print(my_set)

{1, 3, 4}
{1, 3, 4}

In [79]:
my_set= {1, 2, 3}
removed_item = my_set.pop()
print(f"Removed: {removed_item}")  # Output will vary

Removed: 1

In [80]:
set_1= {1, 2, 3, 4}
set_2= {3, 4, 5, 6}
set_3= {1, 2}
print(set_1 | set_2)
print(set_1.union(set_2))

print(set_1 & set_2)
print(set_1.intersection(set_2))

print(set_1 - set_2)
print(set_1.difference(set_2))

print(set_1 ^ set_2)
print(set_1.symmetric_difference(set_2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [81]:
print(set_3 <= set_1)
print(set_1.issubset(set_3))

True
False

In [82]:
print(set_1 >= set_3)
print(set_3.issuperset(set_1))

True
False

In [83]:
set_d = {7, 8}
print(set_1.isdisjoint(set_2)) # Output: False (they share 3, 4)
print(set_1.isdisjoint(set_d)) # Output: True (no common elements)

False
True

In [84]:
my_set = {1, 2, 3, 4}
print(len(my_set))

4

In [85]:
my_set = {"apple", "banana", "cherry"}
print("banana" in my_set)    
print("grape" not in my_set)

True
True

In [86]:

my_list = [1, 2, 2, 3, 1]
unique_elements = list(set(my_list)) # Convert list to set (removes duplicates), then back to list
print(unique_elements)

[1, 2, 3]